.intro {
  margin-left: 11.5%;
  margin-right: 20%;
}

.intro__title {
  font-size: 54px;
  font-weight: 900;
}

.intro__cite {
  margin-right: 20%;
  font-size: 24px;
  font-weight: 400;
}

.intro__cite-author {
  text-align: right;
  margin-right: 20%;
  font-size: 24px;
  font-weight: 400;
}

.intro__text {
  font-size: 16px;
  font-weight: 400;
  margin-right: 25%;
}


@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 2%;
    margin-right: 2%;
  }

  .intro__title {
    font-size: 32px;
    margin-right: 35%;
    margin-top: 13%;
    margin-bottom: 10%;
  }

  .intro__cite {
    margin-right: 0;
  }

  .intro__cite-author {
    margin-right: 0;
  }

  .intro__text {
    margin-right: 2.5%;
  }


  .places {
    margin-top: 8%;
    margin-left: 4%;
  }

  .places__city {
    left: 0;
  }

  .city__name {
    font-size: 42px;
    line-height: 46px;
    position: relative;
    bottom: 10%;
  }

  .city__author {
    width: 100%;
    position: relative;
    bottom: 10%;
  }

  .city__text {
    width: 93%;
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    position: relative;
    bottom: 3%;
  }

  .city__image {
    width: 95%;
  }
}

@media screen and (max-width: 544px) {
  .intro__title {
    margin-right: 10%;
  }

  .intro__text {
    margin-right: 6%;
  }

 

}
