.places {
  width: 95%;
  margin-top: 8%;
  margin-left: 4%;
}

.places__city {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "name author"
    "image text"
    "button text";
  gap: 20px;
  margin-bottom: 4rem;
  align-items: start;
}

.places__city-name {
  font-family: inter;
  font-weight: 900;
  line-height: 76px;
  font-size: 72px;
  grid-area: name;
}

.places__city-author {
  width: 100%;
  grid-area: author;
}

.places__author-head {
  font-family: inter;
  line-height: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #aaaaaa;
}

.places__author-text {
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.places__city-text {
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  grid-area: text;
}

.places__city-image {
  width: 100%;
  box-shadow: 10px 10px 25px 0 #000000;
  grid-area: image;
}

.places__city-image:hover {
  background-color: #000000;
  opacity: 0.5;
}

.places__city-button {
  grid-area: button;
  width: 289px;
  height: 48px;
  margin-top: 20px;
  text-decoration: none;
  padding: 13px 20px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0 #000000;
  border-radius: 4px;
  color: #fff;
  border: none;
  font-family: inter;
  justify-self: start;
  align-self: start;
}

.places__city .places__city-button:hover {
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

@media screen and (max-width: 1024px) {
  .places__city {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name author"
      "image text"
      "button text";
    gap: 20px;
    margin-bottom: 4rem;
    align-items: start;
  }

  .places__city-name {
    font-size: 42px;
    line-height: 46px;
  }

  .places__city-author {
    width: 100%;
  }

  .places__city-text {
    width: 100%;
    font-size: 16px;
    line-height: 1.63;
    max-height: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .places__city-image {
    width: 100%;
  }

  .places__city-button {
    width: 289px;
    /* height: 48px; */
    margin-top: 0;
    position: static;
    align-self: start;
    justify-self: start;
    margin-top: 20px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    width: 95%;
    margin: 0;
  }

  .places__city {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "author"
      "image"
      "button"
      "text";
    gap: 20px;
    margin-bottom: 30%;
  }

  .places__city-name {
    font-size: 32px;
    line-height: 35px;
    display: flex;
    justify-content: center;
  }

  .places__city-author {
    width: 288px;
    margin-bottom: 5%;
    margin-top: 0;
    position: relative;
    left: 10%;
  }

  .places__city-text {
    width: 288px;
    position: relative;
    left: 5%;
  }

  .places__city-image {
    width: 320px;
    box-shadow: none;
  }

  .places__city-button {
    width: 289px;
    position: relative;
    left: 5%;
    margin-top: 10%;
  }
}
