.places {
  width: 95%;
  margin-top: 8%;
  margin-left: 4%;
}

.places__city {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "city__name   city__author"
    "city__image  city__text"
    "city__image  city__text"
    "city__button  city__text"
    " .            city__text";
  margin-bottom: 2%;
}

.city__name {
  font-family: inter;
  font-weight: 900;
  font-family: inter;
  line-height: 76px;
  font-size: 72px;
  grid-area: city__name;
}

/* style of author */
.city__author {
  width: 456px;
  height: 67px;
  margin-top: 3%;
  grid-area: city__author;
}

.author__head {
  font-family: inter;
  line-height: 100%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 12%;
  color: #aaaaaa;
}

.author__text {
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

}

/* final de style author */

.city__text {
  width: 484px;
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  position: relative;
  bottom: 5%;
  grid-area: city__text;
}

.city__image {
  width: 460px;
  box-shadow: 10px 10px 25px 0 #000000;
  grid-area: city__image;
}

.city__image:hover {
  background-color: #000000;
  opacity: 0.5;
}

.city__button {
  width: 289px;
  height: 48px;
  position: relative;
  top: 40px;
  padding: 13px 20px 13px 20px;
  background-image: linear-gradient(90deg, #0278fe, #003a7b);
  box-shadow: 5px 5px 10px 0 #000000;
  border-radius: 4px;
  color: #ffff;
  gap: 10px;
  border: none;
  font-family: intert;
  grid-area: city__button;
}

.places__city .city__button:hover {
  background-image: linear-gradient(90deg, #003a7b);
}


@media screen and (max-width: 1024px) {

   
  .places {
    margin-top: 8%;
    margin-left: 4%;
  }

  .places__city {
    left: 0;
  }

  .city__name {
    font-size: 42px;
    line-height: 46px;
    position: relative;
    bottom: 10%;
  }

  .city__author {
    width: 100%;
    position: relative;
    bottom: 10%;
  }

  .city__text {
    width: 93%;
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    position: relative;
    bottom: 3%;
  }

  .city__image {
    width: 95%;
  } 
}

@media screen and (max-width: 544px) {

    
  .places {
    width: 95%;
    margin: 0;
  }

  .places__city {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "city__name "
      "city__author"
      "city__image "
      "city__text"
      "city__button";
    margin-bottom: 30%;
  }

  .city__name {
    font-size: 32px;
    line-height: 35px;
    display: flex;
    justify-content: center;
  }

  .city__author {
    width: 288px;
    height: 89px;
    bottom: 30%;
    margin-bottom: 5%;
    margin-top: 0;
    position: relative;
    left: 10%;
  }

  .city__text {
    width: 288px;
    position: relative;
    top: 5%;
    left: 5%;
  }

  .city__image {
    width: 320px;
    box-shadow: none;
    position: relative;
  }

  .city__button {
    margin-top: 10%;
    position: relative;
    left: 5%;
  }

}
